.mainSec {
    margin: 2rem;
    padding: 2rem 1rem;
    text-align: center;
    border: 5px solid peachpuff;
}

.order {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0rem;
}

.mainSec p {
    margin: 1.5rem;
}

@media only screen and (max-width: 900px) {
    .order{
        flex-direction: column;
    }
}